<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Title</title>
</head>
<body>
    <form method="POST">
        <label for="title">Title</label>
        <input type="text" id="taskTitle" name="title" required value="{{ task.title }}">
        <label for="description">Description</label>
        <textarea id="taskDescription" name="description">{{ task.description }}</textarea>
        <button type="submit" id="updateTaskButton">Update Task</button>
    </form>
</body>
</html>