{% from 'macros.html' import header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Title</title>
</head>
<body>
{{ header('index', username, preferred_name, profile_picture) }}

{% if tasks %}
    {% for task in tasks %}
        <div class="task-card {% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
            <div class="task-top-row">
                <p class="status {{ 'done' if task.is_done else 'todo' }}">Status: {{ 'Done' if task.is_done else 'To Do' }}</p>
                <div class="task-actions">
                    <!-- More button -->
                    <button class="btn more" onclick="this.parentNode.classList.toggle('show-more')">More</button>
                    <!-- Edit button -->
                    {% if not task.is_done %}
                        <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn edit">Edit</a>
                    {% endif %}
                    <!-- Delete button -->
                    <button type="button" class="btn delete" onclick="confirmDelete('{{ url_for('delete_task', task_id=task.id) }}')">Delete</button>
                    <!-- Mark as done/to do button -->
                    {% if not task.is_done %}
                        <a href="{{ url_for('done_task', task_id=task.id) }}" class="btn done">Mark as Done</a>
                    {% else %}
                        <a href="{{ url_for('todo_task', task_id=task.id) }}" class="btn todo">Mark as To Do</a>
                    {% endif %}
                </div>
            </div>
            <h2>{{ task.title }}</h2>
            <p>{{ task.description }}</p>

            <!-- Attachments -->
            {% if task.attachments %}
            <h3>Attachments</h3>
                <ul class="attachments-list">
                    {% for attachment in task.attachments %}
                        <li>
                            <a href="{{ url_for('download_attachment', attachment_id=attachment.id) }}">
                                <img src="{{ url_for('static', filename='uploads/' ~ attachment.filename) }}" alt="{{ attachment.filename }}" class="thumbnail">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}

    <!-- Pagination controls-->
    <div class="pagination">
        {% if pagination.has_prev %}
            <a href="{{ url_for('index', page=pagination.prev_num) }}" class="btn">Previous</a>
        {% endif %}
        <span>Page {{ pagination.page }} of {{ pagination.pages }}</span>
        {% if pagination.has_next %}
            <a href="{{ url_for('index', page=pagination.next_num) }}" class="btn">Next</a>
        {% endif %}
    </div>
{% else %}
    <p>You currently have no tasks</p>
{% endif %}

<!-- Modal -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="hideModal()">&times;</span>
        <p>This action is permanent and cannot be undone. Are you sure?</p>
        <div class="modal-actions">
            <button type="button" class="btn cancel" onclick="hideModal()">Cancel</button>
            <button type="submit" class="btn confirm-delete" onclick="submitDeleteForm()">Delete Now</button>

            <form id="deleteForm" action="" method="POST" class="inline-form">
            </form>
        </div>
    </div>
</div>

<script>
    function confirmDelete(deleteUrl) {
        document.getElementById('deleteForm').action = deleteUrl;
        document.getElementById('deleteModal').style.display = 'block';
    }

    function submitDeleteForm() {
        document.getElementById('deleteForm').submit();
    }

    function hideModal() {
        document.getElementById('deleteModal').style.display = 'none';
    }
</script>

</body>
</html>